@using Blog.WEBUI.Models.VMs
@model TopicListVM



<br />
<br />
<br />
<br />
<br />
<br />


<div class="d-grid gap-2 col-6 mx-auto">
    @foreach (var item in Model.Topics)
    {
        <a class="btn btn-primary" asp-controller="Article" asp-action="ListByTopics" asp-route-id="@item.TopicId" type="button">@item.TopicName</a>
    }
</div>

