@using Blog.DATA.Concrete
@using Microsoft.AspNetCore.Identity
@inject UserManager<Author> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog.WEBUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Blog.WEBUI.styles.css" asp-append-version="true" />
</head>
<body style="background-image: url('/img/234.png'); background-size: cover; background-attachment:fixed">
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><em>dökül...</em></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Topic" asp-action="List">Konu Seçin!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Article" asp-action="List">Makaleler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Article" asp-action="CreateArticle">Makale Yaz!</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            var user = await UserManager.GetUserAsync(User);
                            <li class="nav-item dropdown text-dark">
                                <a class="nav-link dropdown-toggle text-dark" asp-controller="Account" asp-action="Logout" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    
                                        <img src="@user.Photo" width="35px" height="35px"></img>
                                    
                                    <em> @User.Identity.Name</em>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile">Profil</a></li>
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Settings">Ayarlar</a></li>
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Çıkış Yap!</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Giriş Yap!</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Kayıt Ol!</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Blog.WEBUI - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
